/*
https://coolors.co/ffa630-d7e8ba-4da1a9-2e5077-611c35
*/
:root {
  --main-color: #064789; 
  --secondary-color: #605F5E;
  --logo-text-color: #FFF;
  --body-text-color: #000;
  --heading-text-color: #064789;
  --background-color: #FFF;
}
